@font-face {
  font-family: "iconfont"; /* Project id 4397355 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1704259037623') format('woff2'),
       url('iconfont.woff?t=1704259037623') format('woff'),
       url('iconfont.ttf?t=1704259037623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhiwenjian:before {
  content: "\e6e2";
}

.icon-qiyewendangku:before {
  content: "\e6e9";
}

.icon-wodeshoucang:before {
  content: "\e6ea";
}

.icon-huishouzhan:before {
  content: "\e6eb";
}

.icon-morenwenjianjia:before {
  content: "\e6ec";
}

.icon-gerenwendang:before {
  content: "\e6ed";
}

.icon-wendang-docx_doc:before {
  content: "\e6ee";
}

.icon-biaoge-xlxs_xls:before {
  content: "\e6ef";
}

.icon-yanshiwendang-ppt_pptx:before {
  content: "\e6f0";
}

.icon-pdf:before {
  content: "\e6f1";
}

.icon-wenbenwendang-txt:before {
  content: "\e6f2";
}

.icon-yinle-music:before {
  content: "\e6f3";
}

.icon-yasuowenjian-zip_rar_7z:before {
  content: "\e6f4";
}

.icon-wangye-web_h5:before {
  content: "\e6f5";
}

.icon-tupian-jpg_png:before {
  content: "\e6f6";
}

.icon-shipin-mov_mp4_avi:before {
  content: "\e6f7";
}

.icon-PSD:before {
  content: "\e6f8";
}

.icon-CAD:before {
  content: "\e6f9";
}

.icon-pingguoanzhuangwenjian-ipa_dmg:before {
  content: "\e6fa";
}

.icon-jingxiangwenjian-iso:before {
  content: "\e6fb";
}

.icon-kezhihangwenjian-exe:before {
  content: "\e6fc";
}

.icon-apk:before {
  content: "\e6fd";
}

.icon-qita:before {
  content: "\e6fe";
}

.icon-MP4:before {
  content: "\e7ab";
}

.icon-MP3:before {
  content: "\e7ac";
}

.icon-PDF:before {
  content: "\e7ae";
}

.icon-XLS:before {
  content: "\e7af";
}

.icon-wenjianjia-1:before {
  content: "\e7b3";
}

.icon-xiazai-1:before {
  content: "\e7b4";
}

.icon-excel-1:before {
  content: "\e7b5";
}

.icon-txt-1:before {
  content: "\e7b7";
}

.icon-word-1:before {
  content: "\e7b8";
}

.icon-shangchuan-1:before {
  content: "\e7b9";
}

.icon-mp3-1:before {
  content: "\e7ba";
}

.icon-mp4-1:before {
  content: "\e7bb";
}

.icon-zip-1:before {
  content: "\e7bc";
}

.icon-pdf-1:before {
  content: "\e7be";
}

.icon-ppt-1:before {
  content: "\e7bf";
}

.icon-wenjianjia:before {
  content: "\e7a7";
}

.icon-JPG:before {
  content: "\e7a8";
}

